* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font: inherit;
}

button {
    color: inherit;
}

.container {
    padding: 24px;
    min-height: 100vh;
}

.app.dark {
    color: #f6f7f9;
}

.app.light {
    color: black;
}

.app.dark .container {
    background-color: #23272f;
}

.app.light .container {
    background-color: white;
}